.item-search {
  font-size: 30px;
  margin-top: 1.5%;
}

.tag-search-list {
  list-style-type: none;
}

.tag-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 0;
  margin-top: 1%;
  color: rgb(240,248,255);
  border-color: rgb(240,248,255);
}

.tag-btn:hover {
  color: white;
}