.form-container {
    padding-top: 1%;
}

.todo_items-form {
    margin: auto;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color:rgb(65,105,225);
    padding-top: 1%;
}