<div id="tag"></div>

<% if (@tag == nil) %>
    <%= javascript_pack_tag 'invalid_search'%>
<% else %>
    <%= content_tag :div,
        id: "tag_data",
        data: @tag.to_json do %>
    <% end %>
    <%= javascript_pack_tag 'tag'%>
<% end %>